# based in part from
# https://github.com/plone/plone.restapi/blob/master/site.cfg
[buildout]
extensions = mr.developer

parts +=
    instance
    zeo

extends = buildout.cfg
index = https://pypi.python.org/simple

find-links =
    http://eggshop.eaudeweb.ro
    https://eggrepo.eea.europa.eu
    https://pypi.python.org/pypi

auto-checkout +=
  plone.restapi

#forests.theme
#forests.content

always-checkout = force
allow-picked-versions = true

sources = sources
versions = versions

[configuration]
shared-blob = off
blob-storage = /data/blobstorage
blob-storage-cache = /data/blobstorage

eggs +=
  plone.app.ldap
  plone.restapi
  BeautifulSoup
  Paste
  Pillow
  kitconcept.voltodemo

zcml +=
  plone.app.widgets

# forests.theme
# forests.content

zcml-additional +=
  <configure xmlns="http://namespaces.zope.org/zope"
             xmlns:plone="http://namespaces.plone.org/plone">
  <plone:CORSPolicy
    allow_origin="https://demo-forests-p5.eea.europa.eu,http://localhost:4300,http://127.0.0.1:4300,http://localhost:3000,http://127.0.0.1:3000"
    allow_methods="DELETE,GET,OPTIONS,PATCH,POST,PUT"
    allow_credentials="true"
    expose_headers="Content-Length,X-My-Header"
    allow_headers="Accept,Authorization,Content-Type,X-Custom-Header"
    max_age="3600"
    />
  </configure>


[instance]
<= instance_base
recipe = plone.recipe.zope2instance
user = admin:admin

shared-blob = on
blob-storage = /data/blobstorage
blob-storage-cache = /data/blobstorage

[zeo]
<= zeoserver_base
recipe = plone.recipe.zeoserver
zeo-address = 8080

shared-blob = on
blob-storage = /data/blobstorage
blob-storage-cache = /data/blobstorage

[sources]
plone.restapi = git git://github.com/plone/plone.restapi.git

# forests.theme = git https://github.com/eea/forests.theme.git branch=volto-plone5
# forests.content = git https://github.com/eea/forests.content.git branch=volto-plone5
# Products.PloneGlossary = git https://github.com/collective/Products.PloneGlossary.git branch=folderish-definition

[versions]
plone.app.themingplugins = 1.0
Unidecode = 1.0.23
#requests = 2.21.0
five.formlib = 1.0.4

# Required by:
# plone.app.ldap
Products.CMFDefault = 2.2.4
Products.LDAPMultiPlugins = 1.14
Products.PloneLDAP = 1.2
dataflake.fakeldap = 1.1
plone.app.form = 2.3.2
plone.app.workflowmanager = 2.1.2
python-ldap = 2.4.22
Products.LDAPUserFolder = 2.23

# Products.MailArchive = 1.6
validate-email = edw.1.3.1

chardet = 3.0.4
dnspython = 1.16.0
greenlet = 0.4.15
monotonic = 1.5
peppercorn = 0.6
pydns = 2.3.6
translationstring = 1.3
xlrd = 1.2.0

# Required by:
# eea.ldapadmin==1.5.28
BeautifulSoup = 3.2.1

# Required by:
# naaya.ldapdump==1.0.6
PyYAML = 5.1

# Required by:
# eea.usersdb==1.3.44
colander = 1.7.0

# Required by:
# eea.userseditor==1.1.39
deform = 2.0.7

# Required by:
# sparql-client==3.4
eventlet = 0.24.1

# Required by:
# colander==1.7.0
# deform==2.0.7
iso8601 = 0.1.12

# Required by:
# eea.ldapadmin==1.5.28
naaya.ldapdump = 1.0.8

# Required by:
# eea.usersdb==1.3.44
# eea.userseditor==1.1.39
phonenumbers = 8.10.8

# Required by:
# eea.ldapadmin==1.5.28
sparql-client = 3.4

# Required by:
# eea.ldapadmin==1.5.28
transliterate = 1.10.2

# Required by:
# eea.ldapadmin==1.5.28
xlwt = 1.3.0

ZEO = 5.2.1
ZODB = 5.5.1
zodbpickle = 1.0.3
transaction = 2.4.0
persistent = 4.4.0
